@charset "utf-8";
div:has(h2){
    margin-left: 20px;
    & h2{
        margin: 10px 0px;
    }
    & input{
        float: left;
        width: 250px;
        margin: -2px 3px 0px 0px;
        text-align: right;
    }
}

/*結果*/
div:has(#result){
    padding: 10px 0px 15px 0px;
    & #result{
        display: inline-block;
        height: auto;
        min-height: 20px;
        width: auto;
        margin: 0px 3px -4px 0px;
        text-align: right;
        overflow: auto;
        font-weight: bold;
    }
}
/*単位選択欄*/
#box{
    position: relative;
    margin-left: 20px;
    & #topbox{
        position: relative;
        height: 25px;
        & .top{
            position: absolute;
            height: 30px;
            width: 50px;
            border: black solid 1px;
            background-color: white;
            border-radius: 5px 5px 0px 0px;
            text-align: center;
            &:hover{
                cursor: pointer;
            }
            & div{
                border-bottom: black solid 1px;
                border-radius: 5px;
            }
            &.aaa{
                background-color: #c4c4c4;
            }
            &.bbb{
                top: -5px;
                left: 52px;
            }
            &.ccc{
                top: -5px;
                left: 104px;
            }
            &.ddd{
                top: -5px;
                left: 156px;
            }
            /*要追加ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
        }
    }
    & #aaabox,#bbbbox,#cccbox,#dddbox{  /*要追加ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
        position: absolute;
        & .before{
            position: relative;
            width: 380px;
            background-color: white;
            border: black solid 1px;
            border-bottom: none;
            &::before{
                content: '前';
                position: absolute;
                top: 4px;
                left: -20px;
                width: 25px;
                background-color: rgb(124, 124, 255);
                border: black solid 1px;
                border-radius: 5px 0px 0px 5px;
                z-index: -1;
            }
            & div:nth-of-type(odd){
                background-color: #e2e2e2;
            }
        }
        & .after{
            position: relative;
            width: 380px;
            background-color: white;
            border: black solid 1px;
            &::before{
                content: '後';
                position: absolute;
                top: 4px;
                left: -20px;
                width: 25px;
                background-color: rgb(255, 131, 131);
                border: black solid 1px;
                border-radius: 5px 0px 0px 5px;
                z-index: -1;
            }
            & div:nth-of-type(odd){
                background-color: #e2e2e2;
            }
        }
        & .before>div,.after>div{
            padding: 2px 0px;
        }
        & .before span,.after span{
            padding: 0px 8px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    & #bbbbox,#cccbox,#dddbox{      /*要追加ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
        display: none;
    }
}
/*計算機（スマホ用）*/
#den{
    position: fixed;
    width: 186px;
    font-size: 40px;
    text-align: center;
    border: black solid 2px;
    border-radius: 5px;
    overflow: hidden;
    z-index: calc(infinity);
    transition: all 0.4s;
    &.sm{
        bottom: -160px;
        right: -100px;
        background-color: #dddddd;
        & #close{
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    &.bg{
        bottom: 50px;
        right: 100px;
        background-color: white;
        & #close{
            position: absolute;
            bottom: 0px;
            right: 0px;
            height: 61px;
            width: 61px;
        }
    }
    & div div{
        float: right;
        height: 60px;
        width: 60px;
        border: gray solid 1px;
        transition: all 0.5s;
    }
}